.new-user-form {
  position: relative;
}

.adduser-btn {
  display: block;
}

.adduser-form {
  display: block;
}

.user-added {
  position: absolute;
  width: 100%;
  top: -20px;
  left: 50%;
  animation: slide-down 300ms ease-out forwards;
  
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -3rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media(max-width: 1024px) {  
  .new-user-form {
    width: 100%;
  }
}